<section class="hero">
    <div class="img">
      <img src="assets/images/img-tienda.png" style="z-index: 2;" class="img-tienda"> 
    </div> 
    <div class="front-page">
      <h2 class="title-front-page">A V C<br>IMPORTACIONES</h2>
      <div class="text1">
        <p class="direction">PERU</p>
        <p class="direction">LIMA</p>
        <p class="direction">2020 - 2022</p>
      </div>  
        <hr class="line">
      <p class="text2">SOMOS UNA EMPRESA DEDICADA A LA VENTA DE <br> MÁQUINAS E INSUMOS PARA SUBLIMACIÓN.</p>
      <div class="botonn"> 
        <img class="cart" src="assets/images/vector.png">
        <a href="productos" class="boton">VER PRODUCTO</a>
      </div>
    </div>
<div class="icons-2" style="z-index: 2;">
 <div><p class="networks">VISITA NUESTRAS REDES Y NO TE PIERDAS LOS NUEVOS PRODUCTOS</p></div>
  <div class="list-picture"> 
    <div class="picture1"><a target="_blank" href="https://www.facebook.com/avcmerchandising/"><img class="icons" src="assets/images/icons-facebook.png"></a></div>
    <div class="picture2"><a  target="_blank" href="https://www.instagram.com/avcimportaciones/"><img class="icons" src="assets/images/icons-instagram.png" alt=""></a></div>  
    <div class="picture3"><a target="_blank" href="https://www.youtube.com/@avcimport1390"><img class="icons" src="assets/images/icons-youtube.png" alt=""></a></div>
    <div class="picture4"><a target="_blank" href="https://www.tiktok.com/@avcimport"><img class="icons" src="assets/images/icons-tiktok.png" alt=""></a></div>
  </div>
</div>
</section>