  <section class="hero">
  <div class="icons-1">
    <img class="icons" src="assets/images/icons-ubicacion.png" alt="">
    <p class="text-ubicacion">LA Av.  Bolivia <br>Centro Lima.</p>
    <img class="icons" src="assets/images/icons-whatsapp.png" alt="">
    <p class="number-wsp">912 346 852</p>
  </div>  
  <section  class="container">
  <div class="portada">
    <h2 class="titulo">AVC <br>IMPORTACIONES</h2>
    <p class="texto">SOMOS UNA EMPRESA DEDICADA A LA VENTA DE<br> MÁQUINAS E INSUMOS<br>PARA SUBLIMACIÓN.</p>
    <button class="boton"><img class="carrito" src="assets/images/vector.png"><p class="textcarrito">VER PRODUCTOS</p></button>
  </div>
  <div class="img">
     <img src="assets/images/image-tienda.png" style="z-index: 2;" class="img-tienda">
      <div class="color" style="z-index: 1;"></div>
    </div> 
</section>  
<div class="icons-2">
  <img class="icons" src="assets/images/icons-facebook.png" alt="">
  <p class="text"> AVC IMPORTACIONES</p>
  <img class="icons" src="assets/images/icons-tiktok.png" alt="">
  <p class="text">@avcimport</p>
  <img class="icons" src="assets/images/icons-youtube.png" alt="">
  <p class="text">avcimport</p>
  <img class="icons" src="assets/images/icons-instagram.png" alt="">
  <p class="text">@avcimportaciones</p>
</div>      

</section>