.hero{
  width: 100%;
  height: 100%;
}
.portada{
  position: absolute;
  display: flex;
  width: 600px;
  height: 130px;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  margin-left: calc(50% - 450px/2 - 372.5px);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.texto1{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.direccion{
  
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 155.7%;
/* identical to box height, or 25px */

letter-spacing: 0.41em;
text-transform: capitalize;

color: #5A2100;

}
.redes{
position: absolute;
width: 800px;
height: 30px;
left: 41px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
letter-spacing: 0.14em;
text-transform: uppercase;

color: #5A2100;

}
.img-tienda{
position: absolute;
width: 50%;
height: 100%;
left: 50%;
top: 0px;
}

.icons-2{
position: absolute;
width:  800px;
height: 111px;
bottom: 0%;
background: #F7F7F7;
border-radius: 0px 28px 0px 0px;
justify-content: center;

}
.titulo{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 155.7%;
  
  letter-spacing: 0.41em;
  text-transform: capitalize;
  font-feature-settings: 'pcap' on, 'kern' off;
  
  color: #104481;
  }
  
  
  .texto{
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    text-transform: lowercase;
  
  }

  .botonn{
    flex-direction: row;
    display: flex;
    width: 220px;
    height: 60.48px;
    background: #142630;
    border: #142630;
    border-radius: 38px;
  }
  
  .boton {
    font-size: 14px;
    font-weight: 400;
    color: #f3f4f5;
    text-decoration: none;
    display: flex;
    font-family: 'Poppins';
    margin-top: 20px;
    margin-left: 15px;
  }
  
  .carrito{
    width: 56px;
    height: 60px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

.lista-cuadros{
  flex-direction: row;
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-top: 40px;
}
.cuadro1{
width: 70px;
height: 60px;
display: flex;
justify-content: center;
background: #8BD5FF;
}
.cuadro2{
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  background: #CBB9FF;
}
.cuadro3{
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  background: #FFBCBC;
}
.cuadro4{
  width: 70px;
  height: 60px;;
  display: flex;
  justify-content: center;
  background: #C2C2C2;
}

.icons{
  width: 40px;
  height: 40px;
  margin-top: 10px;

}
.linea{
  width: 411px;
  height: 0px;
  border: 1px solid #0a1b3a;
  transform: rotate(-0.01deg);
}

@media (max-width: 390px) {
  .hero{
    width: 100%;
    height: 100%;
  }
  
  .img-tienda{
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 16%;
  }
  
  .titulo{
    position: absolute;
    width: 50px;
    margin-left: 30rem;
    margin-top: 21rem;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 155.7%;    
    text-transform: capitalize;
    font-feature-settings: 'pcap' on, 'kern' off;
    transform: rotate(-90.09deg);

    color: #104481; 
    }
    
.icons-2{
    width: 209px;
    height: 381px;
    left: 0px;
    top: 65.9%;
    border-radius: 0px 0px 0px 0px;
    background: #213E4F;
}

.texto{
  width: 50px;
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: lowercase;
  margin-left: 40rem;
  margin-top: 28rem;
}


  .lista-cuadros{
    flex-direction: column;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 28px;
    margin-left: 72%;
  }
  .cuadro1{
    width: 50px;
    height: 40px;
  display: flex;
  justify-content: center;
  background: #8BD5FF;
  }
  .cuadro2{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    background: #CBB9FF;
  }
  .cuadro3{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    background: #FFBCBC;
  }
  .cuadro4{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    background: #C2C2C2;
  }
  
  .icons{
    width: 30px;
    height:30px;
    margin-top: 5px;
  
  }

  .redes{
    width: 50px;
    height: 30px;
    margin-right: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
    
    }
  }