<section class="hero">
    <div class="img">
      <img src="assets/images/img-tienda.png" style="z-index: 2;" class="img-tienda"> 
    </div> 
    <div class="portada">
      <h2 class="titulo">A V C <br>IMPORTACIONES</h2>
      <div class="texto1">
        <p class="direccion">PERU</p>
        <p class="direccion">LIMA</p>
        <p class="direccion">2020 - 2022</p>
      </div>  
        <hr class="linea">
      <p class="texto">SOMOS UNA EMPRESA DEDICADA A LA VENTA DE <br> MÁQUINAS E INSUMOS PARA SUBLIMACIÓN.</p>
      <div class="botonn"> 
        <img class="carrito" src="assets/images/vector.png">
        <a href="#" class="boton">VER PRODUCTO</a>
      </div>
    </div>
<div class="icons-2" style="z-index: 2;">
 <div><p class="redes">VISITA NUESTRAS REDES Y NO TE PIERDAS LOS NUEVOS PRODUCTOS</p></div>
  <div class="lista-cuadros"> 
    <div class="cuadro1"><a target="_blank" href="https://www.facebook.com/avcmerchandising/"><img class="icons" src="assets/images/icons-facebook.png"></a></div>
    <div class="cuadro2"><a  target="_blank" href="https://www.instagram.com/avcimportaciones/"><img class="icons" src="assets/images/icons-instagram.png" alt=""></a></div>  
    <div class="cuadro3"><a target="_blank" href="https://www.youtube.com/@avcimport1390"><img class="icons" src="assets/images/icons-youtube.png" alt=""></a></div>
    <div class="cuadro4"><a target="_blank" href="https://www.tiktok.com/@avcimport"><img class="icons" src="assets/images/icons-tiktok.png" alt=""></a></div>
  </div>
</div>
</section>