<header>
  <nav class="header-nav container flex-container">
    <img src="assets/images/logo.png"class="logo-link">
    <ul class="header-menu flex-container">
      <li><a class="header-menu-link" href="home">HOME</a></li>
      <li><a class="header-menu-link" href="sobre">SOBRE</a></li>
      <li><a class="header-menu-link" href="productos">PRODUCTOS</a></li>
      <li><a class="header-menu-link" href="servicios">SERVICIOS</a></li>
    </ul>
  <div  style="z-index: 1;" class="ghost-button">
   <p class="lista">Lista de compras</p>  <img   style="z-index: 2;" class="bolsa"   src="assets/images/bag.png" alt=""> 
</div>
</nav>
</header>