<header>
  <nav class="header-nav container flex-container">
    <img src="assets/images/logo.png"class="logo-link">
    <ul class="header-menu flex-container">
      <li><a class="header-menu-link" href="">HOME</a></li>
      <li><a class="header-menu-link" href="">SOBRE</a></li>
      <li><a class="header-menu-link" href="">PRODUCTOS</a></li>
      <li><a class="header-menu-link" href="">SERVICIOS</a></li>
    </ul>
    <div class="ghost-button">
      <p class="text">Search</p>
    </div>
  </nav>
</header>