.all-products{
    background-color: white;
    background-repeat: no-repeat;
    justify-content: center;   
    margin-left: 2rem; 
    margin-bottom: 2rem;    

}

.bg_cart{
    gap: 5rem;
    display:contents;
    justify-content: center;    

}
.product{
    margin-top: 2rem;
    margin-left: 1rem;
    background-color: rgb(255, 255, 255);
    float: left;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #00000010;    

}

.imagen{
    width: 250px;
    height: 250px;
  margin-left: 2rem;
}

.title-producto{
    color: rgb(0, 0, 0);
font-family: "Poppins";
font-size: 20px;
justify-content: center;
display: flex;
text-align: center;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
font-family: 'Poppins';
margin-top: 1rem;

}

.cod{
    color: rgb(62, 0, 163);
    font-family: "Poppins";
    font-size: 17px;
    justify-content: center;
    display: flex;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-family: 'Poppins';
}
.precio{
    color: rgb(163, 0, 0);
    font-family: "Poppins";
    font-size: 20px;
    justify-content: center;
    display: flex;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-family: 'Poppins';
    margin-top: 5px;
}

.material-icons{
    background-color: #4B809E;
    border-radius: 40px;
    padding: 8px;
    width: 10rem;
    cursor: pointer;
    margin-left: 24%;
    margin-bottom: 1rem;

}
    
.add_shopping_cart{
display: flex;
margin-top: 1rem;
justify-content: center;
color: beige;
font-family: "Poppins";

}

@media (max-width: 576px) {
    .all-products{
        background-color: white;
        background-repeat: no-repeat;
        justify-content: center;   
        margin-left: 0rem; 
    }
    .product{
        margin-left: 3rem;
        margin-top: 1rem;
        background-color: rgb(255, 255, 255);
        float: left;
        width: 100%;
        max-width: 300px;
        border-radius: 5px;
        box-shadow: 0 2px 10px 2px #00000010;
        margin-bottom: 1rem;
    
    }
}




    


    


    
   
    


  