<section  class="Escuela__en__linea__container">
    <div class="Escuela__en__linea__left">
      <img src="assets/images/Screenshot_1.png" alt="Imagen de escuela en linea" class = "Escuela__en__linea_img">
    </div>
    <div class="Escuela__en__linea">
      <h2 class="Escuela__en__linea__titulo">En AVCIMPORT</h2>
      <p class="Escuela__en__linea__texto">
        LES OFRECEMOS LAS MEJORES MAQUINAS E INSUMOS<br> PARA SUBLIMACIÓN EN PERU <br>

        HACEMOS ENVÍOS A NIVEL NACIONAL🚚<br>
        
        ESTÁMOS UBICADOS EN LA AV. BOLIVIA 148 INT. 2020<br>
        
        C.C CENTRO LIMA, CERCADO DE LIMA<br>

        CONTÁCTANOS VÍA WHATSAPP AL +51 912 346 852<br>
        
        <a class="text" href="https://linktr.ee/avcimport">https://linktr.ee/avcimport</a><br>
        Síguenos ☝️<br>
      
      </p>

      <a href="#" class="tarjeta__boton tarjeta__boton--more botonn">PRODUCTOS</a>
    </div>
  </section>
<section class="container-two">
  <div class="contenedor">
		<div class="titulo">
			<div class="shape right-skew">
				<i class="fas fa-laptop"></i>
				<h2>Clientes Sastifechos</h2>
			</div>
    </div>
  </div>


 </section>  
 <section class="planes__container">
  <ul class="planes__tarjetas">
      <li class="tarjetas tarjetas--start">
          <h3 class="tarjetas__titulo"> Clientes satisfechos<br> por su compra</h3>
          <a class="tarjetas__contenido">
             <img  class="tarjetas__precio" src="assets/images/img1.webp" alt="">
          </a>
      </li>
      <li class="tarjetas tarjetas--mega">
          <h3 class="tarjetas__titulo">te enseñamos <br>a sublimar </h3>
          <a class="tarjetas__contenido">
            <img  class="tarjetas__precio" src="assets/images/img2.webp" alt="">
            <div class="tar__texto"><p class="tarjetas__texto">En tu primera compra tendras un tutorial de como usar la maquina totalmente gratis</p></div>
              <a href="#" class="tarjetas__boton tarjetas__boton--mega boton">has tu compra</a>
          </a>
      <li class="tarjetas tarjetas--ultra">
          <h3 class="tarjetas__titulo">Certificado de garantia<br> de un año</h3>
          <a class="tarjetas__contenido">
            <img  class="tarjetas__precio" src="assets/images/img3.webp" alt="">
          </a>
      </li>
  </ul>
</section>
<div class="contenedor">
  <div class="titulo">
    <div class="shape right-skew">
      <i class="fas fa-laptop"></i>
      <h2>importaciones desde china</h2>
    </div>
  </div>
</div>
 <section class="body">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
  
  <div class="container">
    <div class="overlay">
      <div class="card">
        <div class="card__title">Title</div>
        <div class="card__content">This is the content</div>
      </div>
    </div>
    <div class="overlay overlay--light">
      <div class="card card--light">
        <div class="card__title">Title</div>
        <div class="card__content">This is the content</div>
      </div>
    </div>
  </div>

</section>