<section  class="Escuela__en__linea__container">
    <div class="Escuela__en__linea__left">
      <img src="assets/images/Screenshot_1.png" alt="Imagen de escuela en linea" class = "Escuela__en__linea_img">
    </div>
    <div class="Escuela__en__linea">
      <h2 class="Escuela__en__linea__titulo">En AVCIMPORT</h2>
      <p class="Escuela__en__linea__texto">
        LES OFRECEMOS LAS MEJORES MAQUINAS E INSUMOS<br> PARA SUBLIMACIÓN! 💪<br>

        ENVÍOS A NIVEL NACIONAL!🚚<br>
        
        LOS ESPERAMOS!<br>
        
        CONTÁCTANOS VÍA WHATSAPP AL +51 912 346 852<br>
        
        <a class="text" href="https://linktr.ee/avcimport">https://linktr.ee/avcimport</a><br>
        Síguenos ☝️<br>
        ESTÁMOS UBICADOS EN LA AV. BOLIVIA 148 INT. 2020<br> C.C CENTRO LIMA, CERCADO DE LIMA
      
      </p>

      <a href="#" class="tarjetas__boton tarjetas__boton--more boton">PRODUCTOS</a>
    </div>
  </section>
<section class="container-two">
  <div class="contenedor">
		<div class="titulo">
			<div class="shape right-skew">
				<i class="fas fa-laptop"></i>
				<h2>Clientes Sastifechos</h2>
			</div>
    </div>
  </div>


 </section>  
 <section class="tree">
 <Div class="cuadros">
    

  </Div>
  <Div class="cuadros">
    

  </Div>
  <Div class="cuadros">
    

</Div>
</section>