.about-us{
    background-color: white;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 2rem 0 2rem 0rem;
    display: flex;
 }
 
 .about-us-left{
     justify-content: center;
     flex-direction: row;
     margin-right: 5rem;
     margin-top: 1rem;
 }
 
 .about-us-container{
     justify-content: center;
     flex-direction: row;
     margin-top: 1rem;

 }
 .Escuela__en__linea_img{
     width: 478px;
     height: 403px;
     left: 137px;
     max-width: 100%;
     float: left;
 }
 
 .about-us-title{
    font-family: 'Poppins';
    font-style: normal;
     font-weight: 500;
     font-size: 30px;
     line-height: 38px;
     text-transform: uppercase;
     color: #104481;
     margin-bottom: 1REM;
     margin-top: 0rem;
 }
 
 
 .about-us-text{
     
    font-family: 'Poppins';
    font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 23px;
     color: #000000;
     text-transform: lowercase;

 }
 
 @media screen and (min-width:800px){
 .about-us{
     width: 100%;
     height: auto;
     display: flex;
     flex-flow: row;
 }
 }
 
.contenedor{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	position: relative;
}
.titulo{
	border-bottom: 3px solid #4B809E;
  color: #f3f4f5;
  font-family: 'Poppins';
}
.titulo .shape{
	background: #4B809E;
    padding: 10px 20px;
    max-width: 300px;
    position: relative;
}
.right-skew:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  display: block;
  width: 50px;
  background: #4B809E;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(20deg);
}

.planes__container {
    background-color:#ffffff;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.planes__tarjetas {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

}

.tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(255, 255, 255);

    width: 100%;
    max-width: 300px;

    margin-bottom: 2rem;

    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #00000010;
}

.tarjetas__title {
    position: center;
    font-family: var(--Open Sans);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-family: 'Poppins';
    margin-top: 1rem;

}

.tarjetas__contenido {
    padding: 0 15%;
}

.tarjetas__precio {
    justify-content: center;
    border-radius: 20px;
    margin-top: 1.25rem;
    width: 100%;
    max-width: 300px;
    margin-bottom: 1.25rem;
}

.tar__texto{
    display: flex;
    justify-content: center;
}
.tarjetas__texto {
    line-height: 25px;
    font-family: 'Poppins';
    font-size: 15px;
    text-align:center;


}
.tarjetas__boton {
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    align-self: center;
    padding: .75rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    margin-top: 34px;
    justify-content:center;
}

.tarjetas--start {
    color: #035A76;
}

.tarjetas--ultra {
    color: #690F8E;
}

.tarjetas--mega {
    color: #1f7c24;
}


.tarjetas__boton--mega {
    border: 1px solid #003a0f;
    border-radius: 8px;
    color: #000000;
}

  .container {
    padding: 30px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
  }
  @media (max-width: 390px) {
    .about-us-left{
      position: absolute;
     justify-content: center;
    }

  .about-us-container{
    justify-content: center;
    margin-top: 18rem;
    text-align: center;
  }

  .tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(255, 255, 255);

    width: 100%;
    max-width: 300px;

    margin-bottom: 2rem;

    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #00000010;
}

.about-us-text{
     
  font-family: 'Poppins';
  font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   color: #000000;
   text-transform: lowercase;

}


.planes__tarjetas {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}
}