*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
  }
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
:root{
  --dark-color: rgb(84, 65, 255);
  --gray-color: rgb(31, 24, 24);
  --light-color: hsl(0,0%,100%);
  --border-color-dark: hsl(10,95%,70%);
  --border-color-normal: hsl(10,95%,83%);
  --border-color-light: hsl(10,95%,93%);
}
